.p1{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background: rgb(1, 179, 1);
    color: black;
    
}

.p2{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background: rgb(1, 179, 1);
    color: black;
}

.p2{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background: rgb(1, 179, 1);
    color: black;
}