body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background: rgb(13, 172, 13);
    color: ivory;
}

.output{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 300px;
    border: solid ivory;

    background: rgb(13, 172, 13);
    color: ivory;

}